#content {
	text-align: center;
	color: #666;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 100;
  min-height: 1200px;
  min-width: 700px;
}

a {
    text-decoration: none;
    color: pink;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  magin-top: 80px;
}

#logo {
	width: 100%;
  text-indent: 0px;
}

#logo-big {
	font-size: 70px;
	color: black;
}

#center-nav ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	display: inline;
}

#center-nav li {
	display: inline;
	padding: 10px 0.5% 10px 0px;
}

#center-nav li.active {
	color: black;
	font-weight: 200;
}

#center-nav ul li:after { 
	padding-left: 0.5%;
	content: " \00b7"; 
}

#center-nav ul li:last-child:after {
	content: none;
}

#text-passage {
	font-weight: 200;
	color: #666;
	width: 75%;
	margin: auto;
	text-align: left;
  text-indent: 2em;
  line-height: 1.5em;
}

#text-passage-maxed {
  font-weight: 200;
  color: #666;
  width: 75%;
  margin: auto;
  text-align: left;
  text-indent: 2em;
  line-height: 1.5em;
  max-width: 800px;
}

h3 {
	font-weight: 100;
	font-size: 26px;
	color: black;
	margin-bottom: 8px;
  width: 100%;
  text-align: center;
}

#h3-big {
	font-size: 32px;
}

#quote {
	width: 70%;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

#center-nav li a {
  text-decoration: none;
  color: #ccc;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
}

#center-nav li a:hover {
  color: #666;
}

#center-nav li.active a {
  font-weight: bold;
  color: #333;
}

#pubs li {
	margin-bottom: 14px;
}






#pubs {
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	line-height: 1.2em;
}

#paper-title {
	font-weight: 300;
}

active li a {
    color:#000;
}

li a {
  text-decoration: none;
  color: #ff99cc;
}

ul {
  list-style: none outside none;
  padding-top: 5px;
  padding-bottom: 5px;
}







a.button {
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  padding : 0px 6px 1px 4px;
  margin: 0 2px 0px 2px;
  color: #000000;
  background-color: #ccffff;
  border-radius: 5px;
}

a.mctestbutton {
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  padding : 0px 6px 1px 4px;
  margin: 0 2px 0px 2px;
  color: #000000;
  background-color: #ccffff;
  border-radius: 5px;
}

a.babibutton {
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  padding : 0px 6px 1px 4px;
  margin: 0 2px 0px 2px;
  color: #000000;
  background-color: #ffffcc;
  border-radius: 5px;
}

a.todaibutton {
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  padding : 0px 6px 1px 4px;
  margin: 0 2px 0px 2px;
  color: #000000;
  background-color: #ccffcc;
  border-radius: 5px;
}

a.dailymailbutton {
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  padding : 0px 6px 1px 4px;
  margin: 0 2px 0px 2px;
  color: #000000;
  background-color: #ffccff;
  border-radius: 5px;
}

a.squadbutton {
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  padding : 0px 6px 1px 4px;
  margin: 0 2px 0px 2px;
  color: #000000;
  background-color: #ff8080;
  border-radius: 5px;
}





table#result {
    width: 70%; 	
}

table#result th {
    text-align: center;
}

table#result tr:nth-child(even) {
    background-color: #eee;
}
table#result tr:nth-child(odd) {
   background-color:#fff;
}
table#result th	{
    background-color: grey;
    color: white;
}

table#result a:hover {
  color: pink;
}

table#result a {
  text-decoration: none;
  color:grey;
}

#result {
  padding-left: 2em;
  margin: 0 0 10px 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

#resultheader {
    color:#000;
    margin: 0 0 10px 20px;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 400;
}








#datatable {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 80%;
}

#datatable a {
  color: black;
  text-decoration: none;
}

#datatable a:hover {
  color: pink;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

table {
    border-spacing: 5px;
    background-color: lightgrey;
}

table#t01 th {
    text-align: left;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th	{
    background-color: grey;
    color: white;
}




#main-footer {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 400px;
  height: 100px;
}




#contact {
	font-size: 20px;
	font-weight: 200;
	color: #666;
	width: 75%;
	margin: auto;
	text-align: left;
	line-height: 2em;
}

#contact ul {
    list-style-type: disc;
}

#snippet {
  width: 760px;
  text-align: left;
  border: 1px black solid;
  background-color: #333333;
  padding: 1em;
  margin: auto;
  color: #d9d9d9;
}

#data-content {
  text-align: center;
  color: #666;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
  min-height: 1200px;
  min-width: 700px;
  max-width: 1000px;
  padding-left: auto;
}

#data-text-passage {
  font-weight: 200;
  color: #666;
  width: 800px;
  margin: auto;
  text-align: left;
  text-indent: 2em;
  line-height: 1.5em;
}

#data-text-points {
  font-weight: 200;
  color: #666;
  width: 800px;
  margin: auto;
  text-align: left;
  text-indent: 0em;
  line-height: 1.5em;
}

#placeholder {
  color: yellow;
}

#question {
  color: cyan;
}