#content {
	text-align: center;
	color: #666;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 100;
}

#logo {
	font-size: 20px;
	text-align: left;
	letter-spacing: 6px;
	line-height: 2.5em;
	padding-left: 00px;
	font-weight: 100;

	margin-left: 0px;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 30px;
	width: 400px;
}

#logo-big {
	font-size: 70px;
	color: black;
}

#center-nav ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	display: inline;
}

#center-nav li {
	display: inline;
	padding: 10px 0.5% 10px 0px;
}

#center-nav li.active {
	color: black;
	font-weight: 200;
}

#center-nav ul li:after { 
	padding-left: 0.5%;
	content: " \00b7"; 
}

#center-nav ul li:last-child:after {
	content: none;
}

#text-passage {
	font-weight: 200;
	color: #666;
	width: 75%;
	margin: auto;
	text-align: left;
}

h3 {
	font-weight: 100;
	font-size: 26px;
	color: black;
	margin-bottom: 8px;
}

#h3-big {
	font-size: 32px;
}

#quote {
	width: 70%;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

#center-nav li a {
  text-decoration: none;
  color: #ccc;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
}

#center-nav li a:hover {
  color: #666;
}

#center-nav li.active a {
  font-weight: bold;
  color: #333;
}

#pubs li {
	margin-bottom: 14px;
}






#pubs {
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	line-height: 1.2em;
}

#paper-title {
	font-weight: 300;
}

active li a {
    color:#000;
}

li a {
  text-decoration: none;
  color: #ff99cc;
}

ul {
  list-style: none outside none;
  padding-top: 5px;
  padding-bottom: 5px;
}







a.button {
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  padding : 0px 6px 1px 4px;
  margin: 0 2px 0px 2px;
  color: #000000;
  background-color: #ccffff;
  border-radius: 5px;
}

a.mctestbutton {
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  padding : 0px 6px 1px 4px;
  margin: 0 2px 0px 2px;
  color: #000000;
  background-color: #ccffff;
  border-radius: 5px;
}

a.babibutton {
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  padding : 0px 6px 1px 4px;
  margin: 0 2px 0px 2px;
  color: #000000;
  background-color: #ffffcc;
  border-radius: 5px;
}

a.todaibutton {
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  padding : 0px 6px 1px 4px;
  margin: 0 2px 0px 2px;
  color: #000000;
  background-color: #ccffcc;
  border-radius: 5px;
}

a.dailymailbutton {
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  text-decoration : none;
  padding : 0px 6px 1px 4px;
  margin: 0 2px 0px 2px;
  color: #000000;
  background-color: #ffccff;
  border-radius: 5px;
}






table#result {
    width: 70%; 	
}

table#result th {
    text-align: center;
}

table#result tr:nth-child(even) {
    background-color: #eee;
}
table#result tr:nth-child(odd) {
   background-color:#fff;
}
table#result th	{
    background-color: black;
    color: white;
}

table#result a:hover {
  color: red;
}

table#result a {
  text-decoration: none;
  color:grey;
}

#result {
  padding-left: 2em;
  margin: 0 0 10px 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

#resultheader {
    color:#000;
	font: 30px/1 Helvetica, Verdana, sans-serif;
    margin: 0 0 10px 20px;
    padding-top: 30px;
}








#datatable {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 80%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

table {
    border-spacing: 5px;
    background-color: lightgrey;
}

table#t01 th {
    text-align: left;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}








#contact {
	font-size: 20px;
	font-weight: 200;
	color: #666;
	width: 75%;
	margin: auto;
	text-align: left;
	line-height: 2em;
}